@model IEnumerable<AniWeb_Comics.Models.Producto>
@{
    ViewData["Title"] = "Catalogo";  
}
<link rel="stylesheet" href="~/css/catalogo.css">

<h2 class="text-cat-h2">Catálogo - Mangas y Comics</h2>

<div class="form-floating mb-3">
  <div class="backpage">
  <a href="/Catalogo"><button type="submit"><img src="https://cdn.discordapp.com/attachments/1101400363459944491/1102863048923938816/back.png" alt=""></button></a>
  </div>
  <form action="/Catalogo" method="post" class="search-bar">
    <input type="text" name="searchString" placeholder="Buscar ...">
    <button type="submit"><img src="https://cdn.discordapp.com/attachments/1101400363459944491/1102846320961654824/search.png" alt="" class="ico-search"></button>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8LK_a9e0GA1Gl2lQHuz9x-4atQWyIto08dXDan-7ZsTwvdmgerMoeZvu5ohRWolqh7mLcBkmqNOx46LxLxqPWTdnE9QTZsufzbnwPb2JhWLSsrCwsNoann7vNhIpv12c78sOHCILX4Rq91VWT8ctHuo">
  </form>
</div>

  <div class="container">
    <h2>@ViewData["Message"]</h2>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" style="width: 600px; height: 200px"
                       src="@item.ImageName" alt="@item.ImageName"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                  <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
                  <a class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id" onclick="return confirm('¿Estás seguro que deseas añadir este producto a tu carrito de compras?');" type="button">Añadir</a>
                  <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                </div>
              </div>
            </div>
            }
         </div>
        </div>
      </div>
    </div>
  </div>